.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.DS_Store
.gradle/
.idea/
gradle/
build/
gradlew
gradlew.bat
out/
user.iml
keystore.p12
src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/